:root {
  --split-ratio: 25%;
}

body>div {
  position: absolute;
  top: 0;
  bottom: 0;
  overflow: auto;
}

body>div:nth-child(1) {
  left: 0;
  width: var(--split-ratio);
  white-space: nowrap;
}

body>div:nth-child(1)>a:last-child {
  position: absolute;
  top: 0;
  right: 0;
}

body>div:nth-child(2) {
  left: var(--split-ratio);
  right: 0;
}

body>div:nth-child(3) {
  left: var(--split-ratio);
  width: 0;
  border: 2px solid var(--bs-info);
  cursor: w-resize;
}

body>div.active:nth-child(3) {
  border-color: var(--bs-danger);
}

details>div:last-child {
  margin-left: 1em;
}

span.card {
  display: inline-block;
  padding: 0 1ex;
  margin: 0.5ex 0;
}
