:root {
  --split-ratio: 32%;
}

body > div {
  position: absolute;
  top: 0;
  bottom: 0;
}

body > div:nth-child(1) {
  background: yellow;
  left: 0;
  width: var(--split-ratio);
}

body > div:nth-child(2) {
  background: blue;
  left: var(--split-ratio);
  right: 0;
}

body > div:nth-child(3) {
  background: blue;
  left: var(--split-ratio);
  width: 0;
  border: 2px solid red;
  cursor: w-resize;
}
